
@{
    ViewData["Title"] = "Index";
}
@section sidebar {
    Bienvendio estas en la pagina principal.
}

<h3>Fecha @ViewBag.Fecha</h3>
<h2>Bienvenidos a El Rey Can!</h2>
@Html.ActionLink("Ir a empleados", "Index", "Empleado")
